<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
</head>
<body>
    <div class="container-fluid">
        <nav>
            <div class="row">
                    <ul class="nav nav-fill">
                        <div class="col-sm-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                  <div id="logo" class="mt-2 w-75 ms-5">
                                      <img src="{{ url_for('static', filename='/images/expenses_analyst_logo_mini.png') }}" alt="Application Logo"></a>
                                  </div>
                              </li>
                        </div>
                        <div class="col-sm-6"></div>
                        <div class="col-sm-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/"><button id="sign_up-link-button" class="mt-5">Dont have an account? Sign up</button></a>
                              </li>
                        </div>
                    </ul>
            </div>
        </nav>
        <main>
            <div class="row mt-5">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" id="login-form">
                    <form action="/login" method="POST" >
                        {% with messages = get_flashed_messages(category_filter=["login-error"]) %} 
                        {% if messages %}                           
                            {% for message in messages %}            
                                <p>{{message}}</p>                 
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                        <div class="mb-4 row">
                            <label for="email" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                              <input type="email" class="form-control" id="email" name="email">
                            </div>
                         </div>
                         <div class="mb-4 row">
                            <label for="password" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                              <input type="password" class="form-control" id="password" name="password">
                            </div>
                        </div>
                        <div class="mb-4 row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <button id="lets-go-btn" type="submit">Let's go</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/scripts.js') }}"></script>
</body>
</html>